{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "none",
  "quoteProps": "preserve",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "embeddedLanguageFormatting": "off",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
