<header class="page-header">
  <div class="page-header__container">
    <div class="page-header-left-content">
      <button appButton
              class="page-header__menu-button"
              [iconButton]="true"
              size="large"
              aria-label="Abrir menu"
              (click)="onClick()">
        <span class="material-icons">menu</span>
      </button>
      <div class="page-header__logo">
        <img src="images/logo/bytebank-logo.svg"
             alt="Logo Bytebank" />
      </div>
    </div>
    <div class="page-header-right-content">
      <ng-content></ng-content>
    </div>
  </div>
</header>
