<app-card>
  <div class="bank-statement">
    <div class="bank-statement__header">
      <h3 class="bank-statement__title">Extrato</h3>
      <div class="bank-statement__actions">
        <button appButton
                [iconButton]="true"
                disabled
                size="small">
          <span class="material-icons" iconPositionEnd>edit</span>
        </button>
        <button appButton
                [iconButton]="true"
                disabled
                size="small">
          <span class="material-icons" iconPositionEnd>delete</span>
        </button>
      </div>
    </div>
    <ul class="bank-statement__list">
      <li class="bank-statement__item">
        <span class="bank-statement__month">Novembro</span>
        <div class="bank-statement__item-details">
          <div class="bank-statement__payment-details">
            <span class="bank-statement__item-name">Depósito</span>
            <span class="bank-statement__item-value">+ R$ 500,00</span>
          </div>
          <span class="bank-statement__item-date">08/05/2023</span>
        </div>
      </li>
      <li class="bank-statement__item">
        <span class="bank-statement__month">Novembro</span>
        <div class="bank-statement__item-details">
          <div class="bank-statement__payment-details">
            <span class="bank-statement__item-name">Depósito</span>
            <span class="bank-statement__item-value">+ R$ 500,00</span>
          </div>
          <span class="bank-statement__item-date">08/05/2023</span>
        </div>
      </li>
      <li class="bank-statement__item">
        <span class="bank-statement__month">Novembro</span>
        <div class="bank-statement__item-details">
          <div class="bank-statement__payment-details">
            <span class="bank-statement__item-name">Depósito</span>
            <span class="bank-statement__item-value">+ R$ 500,00</span>
          </div>
          <span class="bank-statement__item-date">08/05/2023</span>
        </div>
      </li>
      <li class="bank-statement__item">
        <span class="bank-statement__month">Novembro</span>
        <div class="bank-statement__item-details">
          <div class="bank-statement__payment-details">
            <span class="bank-statement__item-name">Depósito</span>
            <span class="bank-statement__item-value">+ R$ 500,00</span>
          </div>
          <span class="bank-statement__item-date">08/05/2023</span>
        </div>
      </li>
      <li class="bank-statement__item">
        <span class="bank-statement__month">Novembro</span>
        <div class="bank-statement__item-details">
          <div class="bank-statement__payment-details">
            <span class="bank-statement__item-name">Depósito</span>
            <span class="bank-statement__item-value">+ R$ 500,00</span>
          </div>
          <span class="bank-statement__item-date">08/05/2023</span>
        </div>
      </li>
    </ul>
  </div>
</app-card>

