.sidebar-nav {
  background-color: var(--color-background-card);
  border-radius: var(--border-radius-md);
  padding: var(--font-size-lg);
  box-shadow: var(--shadow-sm);
  max-width: 210px;
  height: 100%;

  &__close-button {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    text-align: center;

    &:not(:last-child) {
      .sidebar-nav__link {
        border-bottom: 1px solid var(--color-primary);
      }
    }
  }

  &__link {
    display: block;
    padding: 0.6rem 1rem;
    color: var(--color-primary);
    transition: background-color 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-md);

    &:hover,
    &.actived {
      font-weight: var(--font-weight-bold);
    }
  }
}

@media (max-width: 992px) {
  .sidebar-nav {
    padding: 0 var(--font-size-lg) var(--font-size-lg) var(--font-size-lg);
    background-color: transparent;
    box-shadow: none;
    border: none;
    max-width: 100%;

    &__close-button {
      display: none;
    }

    &__list {
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
    }

    &__item {
      margin-bottom: 0;
    }

    &__link {
      border-bottom: none !important;

      &:hover,
      &.actived {
        color: var(--color-secondary);
      }

      &.actived {
        border-bottom: 1px solid var(--color-secondary) !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .sidebar-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-background-1);
    border-radius: 0;
    z-index: 9999;
    width: 210px;
    padding: var(--font-size-lg);
    opacity: 0;
    transition: opacity 0.3s ease;
    height: auto;

    &__close-button {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      margin: 4px 4px 0;
      color: var(--color-secondary);
      cursor: pointer;
    }

    &__list {
      flex-direction: column;
      gap: 0;
    }

    &__item {
      &:not(:last-child) {
        .sidebar-nav__link {
          border-bottom: 1px solid var(--color-tertiary);
        }
      }
    }

    &__link {
      color: var(--color-black);

      &:hover,
      &.actived {
        color: var(--color-danger);
      }

      &.actived {
        border-bottom-color: var(--color-secondary) !important;
      }
    }

    &.is-open {
      display: block;
      opacity: 1;
    }
  }
}
