<nav class="sidebar-nav"
     [class.is-open]="isOpen()">
  <ul class="sidebar-nav__list">
    <li class="sidebar-nav__item">
      <a routerLink="/"
         routerLinkActive="actived"
         class="sidebar-nav__link">
        Início
      </a>
    </li>
    <li class="sidebar-nav__item">
      <a href="#"
         class="sidebar-nav__link">
        Transferências
      </a>
    </li>
    <li class="sidebar-nav__item">
      <a href="#"
         class="sidebar-nav__link">
        Investimentos
      </a>
    </li>
    <li class="sidebar-nav__item">
      <a href="#"
         class="sidebar-nav__link">
        Outros serviços
      </a>
    </li>
  </ul>
</nav>
