<div class="home-container">
  <header>
    <div class="container navbar">
      <div class="logo">
        <img src="images/logo/bytebank-logo.svg"
             alt="Logo Bytebank"
             class="logo-icon"/>
      </div>

      <div class="auth-buttons">
        <button appButton
                color="secondary"
                (click)="navigateToDashboard()">Já tenho conta</button>
      </div>
    </div>
  </header>
  <main>
    <section class="banner-section container">
      <img src="images/home/banner1.svg" alt="Financial Control Illustration">
    </section>

    <section class="products-section container">
      <h2>Vantagens do nosso banco:</h2>
      <div class="products-grid">
        <div class="product-item">
          <img src="images/home/gift.svg" alt="Gift Icon">
          <h3>Conta e cartão gratuitos</h3>
          <p>Isso mesmo, nossa conta é digital, sem custo fixo e mais que isso: sem tarifa de manutenção.</p>
        </div>
        <div class="product-item">
          <img src="images/home/saque.svg" alt="Ícone de uma mão segurando uma cédula">
          <h3>Saques sem custo</h3>
          <p>Você pode sacar gratuitamente 4x por mês de qualquer Banco 24h.</p>
        </div>
        <div class="product-item">
          <img src="images/home/pontos.svg" alt="Star Icon">
          <h3>Programa de pontos</h3>
          <p>Você pode acumular pontos com suas compras no crédito sem pagar mensalidade!</p>
        </div>
        <div class="product-item">
          <img src="images/home/dispositivos.svg" alt="Ícone mostrando dispositivos eletrônicos">
          <h3>Seguro Dispositivos</h3>
          <p>Seus dispositivos móveis (computador e laptop) protegidos por uma mensalidade simbólica.</p>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="container footer-grid">
      <div class="footer-column">
        <h3>Serviços</h3>
        <ul>
          <li><a href="#">Conta corrente</a></li>
          <li><a href="#">Conta PJ</a></li>
          <li><a href="#">Cartão de crédito</a></li>
        </ul>
      </div>
      <div class="footer-column footer-contact">
        <h3>Contato</h3>
        <p>0800 004 250 08</p>
        <p>meajuda&#64;bytebank.com.br</p>
        <p>ouvidoria&#64;bytebank.com.br</p>
      </div>
      <div class="footer-column footer-logo-dev">
        <p>Desenvolvido por Alura</p>
        <div class="logo">
          <img src="images/home/bytebank-logo-white.svg"
               alt="Bytebank logo branco">
        </div>
        <div class="social-icons">
          <a href="#" aria-label="Link para o Instagram">
            <img src="images/home/instagram.svg"
                 alt="Ícone do Instagram"></a>
          <a href="#" aria-label="Link para o Whatsapp">
            <img src="images/home/whatsapp.svg"
                 alt="Ícone do Whatsapp"></a>
          <a href="#" aria-label="Link para o YouTube">
            <img src="images/home/youtube.svg"
                 alt="Ícone do YouTube"></a>
        </div>
      </div>
    </div>
  </footer>
</div>
