@use 'assets/fonts/inter/inter.scss';
@import 'material-icons/iconfont/material-icons.css';


:root {
  --color-primary: #004d61;
  --color-secondary: #47A138;
  --color-tertiary: var(--color-black);
  --color-background-light: #F0F2F5;
  --color-background-card: var(--color-white);
  --color-background-sidebar: #E0E2E0;
  --color-background-sidebar-active: var(--color-white);
  --color-background-button-primary: var(--color-primary);
  --color-sidebar-border: var(--color-light-green);
  --color-sidebar-active-text: #4CAF50;
  --color-text: var(--color-black);
  --color-text-dark:  var(--color-black);
  --color-text-medium: #666666;
  --color-text-light: var(--color-light-green-1);
  --color-success: #4CAF50;
  --color-danger: #FF5031;
  --color-border: #E0E0E0;
  --color-hover-dark: #1A7BBF;
  --color-blue-grey: #607D8B;
  --color-white: #fff;
  --color-black: #000;
  --color-lime: #D7F2D5;
  --color-light-green: #E4EDE3;
  --color-grey: #CBCBCB;
  --color-background-1: var(--color-light-green);
  --color-light-green-1: #DEE9EA;
  --color-gradient-1: linear-gradient(#004D61, var(--color-white));

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Font Sizes */
  --font-size-sm: 0.812rem; /* 13px */
  --font-size-md: 1rem;     /* 16px */
  --font-size-lg: 1.250rem; /* 20px */
  --font-size-xl: 1.562rem; /* 25px */
  --font-size-xxl: 2rem;    /* 32px */

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Border Radius */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;

  /* Shadows */
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);

  --header-height: 96px;

  --font-family: 'Inter';
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family), Arial, sans-serif;
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-background-1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

ul {
  list-style: none;
}
